* {
	margin:0;
	padding: 0;
	font-family: sans-serif;
	text-align: center;
	color: yellow;
}

body {
	width: 100%;
	height: 100vh;
	background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url(bg2.jpg);
	background-size: cover;
	background-position: center;
}

table{
	table-layout: fixed;
	border-spacing:10px 10px;
	border-collapse: collapse;
	border-radius: 25px;
}

input[type=checkbox] {
	accent-color: rgb(130, 224, 255);
	margin: 0;
	width: 100px;
	height: 14vw;
}

tr {
	border: solid;
	border-radius: 25px;
}
td {
	border: solid;
	text-align: center;
	height: 50px;
	border-radius: 25px;
}

.html{
	width: 100%;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	text-align: center;
	color: #fff;
}

.html h1{
	font-size: 125px;
	margin-top: 80px;
}
.html p{
	margin: 20px auto;
	font-weight: 100;
	line-height: 25px;
}

.topic {
	color: yellow;
	font-size: 1.5em;
}

.medical_history {
	color: yellow;
	height: 20px;
	list-style: none;
	text-align: justify;
	margin: 100px auto;
	background: white;
}

.medical_history:after {
	display: inline-block;
	content:"";
	width: 100%;
}

.medical_history li {
	display: inline-block;
	width: 20px;
	height: 20px;
	background: black;
	text-align: center;
	line-height: 1;
	position: relative;
	border-radius: 50%;
}

.medical_history li:before {
	display: inline-block;
	content: attr(data-date);
	font-size: 25px;
	position: absolute;
	transform: translateX(-50%);
}

.medical_history li:nth-child(odd):before {
	top: -60px;
}
.medical_history li:nth-child(even):before {
	bottom: -60px;
}

.medical_history li:after {
	display: inline-block;
	content: attr(data-text);
	font-size: 14px;
	position: absolute;
	transform: translateX(-50%);
}

.medical_history li:nth-child(odd):after {
	bottom: 0;
	margin-bottom: -10px;
	transform: translate(-50%, 100%);
}

.medical_history li:nth-child(even):after {
	top: 0;
	margin-top: -10px;
	transform: translate(-50%, -100%);
}

.navbar{
	font-size: 19px;
	width: 95%;
	margin: auto;
	padding: 35px 0;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.logo{
	width: 400px;
	cursor: pointer;
}

.navbar ul li{
	list-style: none;
	display: inline-block;
	margin: 0 20px;
	position: relative;
}

.navbar ul li a{
	text-decoration: none;
	color: yellow;
	text-transform: uppercase;
}

.navbar ul li::after{
	content: '';
	height: 3px;
	width: 0;
	background: #009688;
	position: absolute;
	left: 0;
	bottom: 0;
	transition: 0.5s
}

.navbar ul li:hover::after{
	width: 100%
}

th{
	font-size: 1.5em;	
}

#submit_button button {
	text-align: center;
	height: 10vh;
	width: 10vw;
	font-size: 2em;
	background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url(bg2.jpg); 
}

.inventory {
	list-style-type: "🤯";
}

.container {
	padding: 20px;
	border-radius: 10px;
	margin: 20px auto;
	max-width: 400px;
	box-shadow: 0px 0px 10px rgba(3, 3, 3, 0.5);
	background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url(bg2.jpg);
}


.container input[type="text"] {
	width: 70%;
	padding: 8px;
	margin: 5px;
	color: black;
}

.container input[type="number"] {
	width: 70%;
	padding: 8px;
	margin: 5px;
	color: black;
}
.container button {
    padding: 8px 15px;
    margin: 5px;
    color: yellow;
    border: none;
    cursor: pointer;
	background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url(bg2.jpg);
}

.container a{
    padding: 8px 15px;
    margin: 5px;
    color: yellow;
    border: none;
    cursor: pointer;
}

.container ul {
    list-style: none;
    padding: 0;
}

.container li {
    padding: 5px;
    margin: 5px 0;
    border-radius: 5px;
}

