#name {
	 width: 350px;
	 height: 60px;
	 border-radius: 4%;
	 border-width: 3px;
	 padding-left: 10px;
	 font-size: 25px;
	}

	/* Email Box */
	#mail {
	 width: 350px;
	 height: 60px;
	 border-radius: 4%;
	 border-width: 3px;
	 padding-left: 10px;
	font-size: 25px;
	}

	/* Password Box */

	#lock {
	 width: 350px;
	 height: 60px;
	 border-radius: 4%;
	 border-width: 3px;
	 padding-left: 10px;
	font-size: 25px;
	}

	/* Enter Password Again Box */
	#signup {
	 width: 350px;
	 height: 50px;
	 border-radius: 10%;
	 border-width: 3px;
	 padding-left: 10px;
	 background-color: greenyellow;
	font-size: 25px;
	}

	/* Center the boxes */
	.form {
		display: flex;
	  	flex-direction: column;
	  	align-items: center;
	  	justify-content: center;
	  	height: 100vh;
		}

	#login {
		padding: 20px;
		font-size: 30px;
		color: pink;


	}

	/* Background color */
	body {
		background-image: linear-gradient(rgba(4, 41, 58, 0.75),rgba(3, 24, 71, 0.75), rgba(3, 12, 59, 0.75));
	}

	/* Heading color */
	h1 {
		color: beige;
		font-size: 50px;
	}
