/* styles.css */
body {
    background: linear-gradient(45deg, #ff6b6b, #ffb7b7);
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

h1, h2 {
    color: #fff;
    text-align: center;
}

#medication-form {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    margin: 20px auto;
    max-width: 400px;
}

#medication-form label, #medication-name, #add-medication, #reset-list {
    margin: 10px 0;
    display: block;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin: 10px 0;
    background-color: #fff;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

li.taken {
    background-color: #e0f7d4;
}

li button {
    cursor: pointer;
    background-color: #dd3333;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    margin-left: 5px;
}

li button:hover {
    background-color: #ff5555;
}
